<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <style>
        .flex_v {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <form method="post" class="flex_v">
        <input type="text" placeholder="Student Name" />
        <input type="text" placeholder="Student Age" />
        <input type="text" placeholder="Marks1" />
        <input type="text" placeholder="Marks2" />
        <input type="text" placeholder="Marks3" />
        <input type="text" placeholder="Marks4" />
        <input type="text" placeholder="Marks5" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>